.App-cta.chart-token-selector {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding-top: 0 !important;
  padding-bottom: 0 !important; */
  width: 100%;
  height: 62px;
  border-radius: var(--border-radius-base);
  background: var(--dark-blue-bg);
  margin-bottom: 15px;
}

.chart-token-selector--current {
  /* font-size: 2.1rem;
  font-weight: 700; */
  font-size: 16px;
  line-height: 17px;

  margin-right: 1rem;
  color: white;
}

.chart-token-selector--current + svg {
  width: 25px;
  height: 25px;
}

.chart-token-menu-items.menu-items {
  width: 15.8rem;
  top: 6rem;
  right: unset;
  left: 0;
}

.chart-token-menu-items .menu-item {
  font-size: var(--font-sm);
  height: 3.4rem;
  color: #a0a3c4;
}
